*{
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin:0;
    padding:0;

}
html{
    font-size:16px;
    margin-top: 2em;
}
h1,h2,h3{
    color: #666;
}
header, main, footer {
    margin: 0 auto;
}
main, footer{
    max-width:800px;
}
header{
}
header h1{
    font-size: 3em;
}
header span{
    font-size: 1.5em;
    color:rgb(177, 164, 164);
}
#backGroundImage {
    background-image: url("./images/computer.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 700px;
    align-items: left;
    min-height: 100vh;
    width: 100%;
    /*padding: 2em 0;*/
    text-align: left;
    margin: 0;
}
nav {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background:#333;
    display: flex;
    flex-flow: row;
    justify-content: center;

}
nav a{
    color:#fff;
    text-decoration:none;
    padding: .5em 2em;
}
nav a hover{
    background:#666;
}
.keyboard{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;

}
section {
    margin: 1em 0;
    padding-top:3em;
}
section > p{
    margin: 1em 0;
}
section ul {

}
#aboutMark div img {
    border-radius: 100%;
}
#aboutMark ul li {
    list-style: none;
}
#projects {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
}
#projects article {
    background: #ccc;
    padding: 1em;
}
#projects article img {
    width:100%;
    border: 1px solid #333;
}

#links {
    height: 10em;
}
#links ul {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#links ul li {
    display: inline-block;
    list-style: none;
}
.toolTip:hover .toolTipText {
    display: block;
}
.toolTipText {
    display: none;
    font-size: 12px;
}

footer{
    margin-top: 2em;
    margin-bottom:1em;
    background:#666;
    color:#fff;
    padding: 1em 0;
    text-align: center;

}