*{
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin:0;
    padding:0;

}
body{
    padding-top: 2em;
}
html{
    font-size:16px;
}
h1,h2,h3{
    color: rgb(247, 3, 3);
}
h2:hover {
    color: #966;
    cursor: hand;
}
h2 span {
    display: none;
}
h2:hover span {
    display: inline-block;
}

header, main, footer {
    margin: 0 auto;
}
main, footer{
    max-width:800px;
}
header{
}
header h1{
    font-size: 3em;
}
header span{
    font-size: 1.5em;
    color:rgb(240, 8, 8);
}
#backGroundImage {
    background-image: url("./images/computer2.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 750px;
    align-items: left;
    min-height: 100vh;
    width: 100%;
    /*padding: 2em 0;*/
    text-align: left;
    margin: 0;
    margin-left: 0;
}
nav {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background:rgb(10, 10, 10);
    display: flex;
    flex-flow: row;
    justify-content: center;

}
nav a{
    color:#fff;
    text-decoration:none;
    padding: .5em 2em;
}
nav a hover{
    background:#fff;
}
.keyboard{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;

}
section {
    margin: 1em 0;
    padding-top:3em;
}
section > p{
    margin: 1em 0;
}
section ul {

}
#aboutMark p img {
    border-radius: 100%;
    float: right;
    margin-left: 10px;
}
#aboutMark ul li {
    list-style: none;
}

#projects {
    /*
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
    */
    background-color: #ccc;
    position: relative;
    z-index: 2;
}
.projectTab {
    border: 1px solid black;
    border-top-left-radius: 8px;
    padding: 10px;
    border-bottom: none;
    background-color: #ccc;
    display: inline-block;
    margin-right: 20px;
    width: 200px;
    z-index: 1;
}
.projectActiveTab {
    z-index: 3;
}
#projects article {
    background: #ccc;
    padding: 1em;
    border: 1px solid black;
}
#projects article img {
    width:100%;
    border: 1px solid #333;
}
#projects article ul li {
    list-style: none;
}

#linksParagraph {
    height: 8em;

}
#linksParagraph ul {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    float : left;
   padding : 0;
   margin : 0 0 0 12px;
}
#linksParagraph ul li {
    display: inline-block;
    list-style: none;
}
.toolTip:hover .toolTipText {
    display: block;
}
.toolTipText {
    display: none;
    font-size: 12px;
}

footer{
    margin-top: 2em;
    margin-bottom:1em;
    background:#666;
    color:#fff;
    padding: 1em 0;
    text-align: center;

}